.header {
    margin-top:67px;
    margin-left:130px;
    width: 1040px;
    height: 40px;
    display:flex;
    justify-content: space-between;
}
.header__logo {
}
.header__cartandgood {
}
.header__cart {
}
.header__goodies {
}
.offer {
}
.offer__imgcenter {
}
.offer__title {
}
.offer__background {
}
.menu {
}
.menu__list {
}
.menu__listitem {
}